// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$pink-lighten-5: '#FFF1ED';

$seashell: #fff1edff;
$green-yellow: #ccff66ff;
$rebecca-purple: #5d2e8cff;
$tiffany-blue: #2ec4b6ff;
$paradise-pink: #ee4266ff;
$dark-pink: #FF8197;
$dark-orange: #FFD0A5;
// Barlow Condensed - 700,italic
